@model CommandPostCreate

@{
    Result<Topic> TopicResult = ViewBag.TopicResult;

    ViewData["Title"] = $"Topic {TopicResult?.Value?.Title}";
}


@if (!TopicResult.Success)
{
    <div class="alert alert-danger" role="alert">
        <p>@TopicResult.Type</p>
        <p>@TopicResult.Detail</p>
    </div>
}
else
{
    var Topic = TopicResult.Value;
    var Forum = Topic.Forum;


    <partial name="~/Views/Partials/ForumPartialPath.cshtml" model="Result.Ok(Topic.Forum)" />
    <partial name="~/Views/Partials/TopicPartialAdminPanel.cshtml" model="@Result.Ok(Topic)" />


    <div class=" text-danger">Count: @Topic.Posts.Count</div>

    <table class="table table-sm table-striped table-bordered table-dark rounded rounded-4 overflow-hidden table-responsive-sm">
        <thead class="text-nowrap overflow-hidden">
            <tr>
                <th scope="col" colspan="2" class="w-25 p-3">
                    @Topic.Title
                    @if (@Topic.Deleted)
                    {
                        <i class="bi bi-trash-fill  text-danger"></i>
                    }
                </th>
            </tr>
        </thead>
        <tbody class="align-content-center justify-content-center table-responsive-sm ">
            <tr class="m-1 p-2">
                <th scope="row" class="col-1 align-middle text-center">
                    @Topic.CreatedBy.At.ToShortDateString()
                </th>
                <td class="col-11 align-content-center justify-content-center">
                </td>
            </tr>
            <tr class="m-1 p-2">
                <th scope="row" class="col-1 text-center">

                    <div><img src="https://forums.goha.ru/cdn/forum/userpic/avatar1026173_4.gif" /></div>
                    <div><small>@Topic.CreatedBy.UserName</small></div>
                    <div><small>@Topic.CreatedBy.At.ToShortDateString()</small></div>

                </th>
                <td class="col-11 align-content-center justify-content-center">
                    <div><markdown>@Topic.Text</markdown></div>
                </td>


            </tr>
            @foreach (var post in Topic.Posts)
            {
                <tr class="m-1 p-2">
                    <th scope="row" class="col-1 align-content-center justify-content-center small">
                        @post.CreatedBy.At.ToShortDateString()
                    </th>
                    <td class="col-11 align-content-center justify-content-center">
                    </td>
                </tr>
                <tr class="m-1 p-2">
                    <th scope="row" class="col-1 align-content-center justify-content-center">

                        <div><img src="https://forums.goha.ru/cdn/forum/userpic/avatar1026173_4.gif" /></div>
                        <div><small>@post.CreatedBy.UserName</small></div>
                        <div><small>@post.CreatedBy.At.ToShortDateString()</small></div>

                    </th>
                    <td class="col-11 align-content-center justify-content-center">
                        <div><markdown>@Topic.Text</markdown></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>




    <div class="mt-3 pt-5">
        <form method="post" asp-asp-controller="Topics" asp-action="TopicPostCreatePost" asp-antiforgery="true">
            <div class="form-group m-2">
                <input type="text" class="form-control" asp-for="@Model.TopicId" value="@Model.TopicId" hidden>
                <span asp-validation-for="@Model.TopicId" class="text-danger"></span>
            </div>

            <div class="form-group m-2">
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
                <textarea asp-for="@Model.Text" type="text" rows="12" class="form-control bg-secondary text-dark">
                    @* <markdown></markdown> *@
                    @(Model?.Text ?? "")
                </textarea>
            </div>
            <div class="form-group m-2 mt-4">
                <input type="submit" class="btn btn-outline-secondary" value="Ответить" />
            </div>

        </form>
    </div>


}
