@model Result<Topic>

@if (Model.Success)
{
    var Topic = Model.Value;
    var Permissions = Topic.GetPermissions(this.User);

    @if (Permissions.CanEdit || Permissions.CanClose || Permissions.CanDelete)
    {
        <div class="d-flex  border border-1 shadow border-secondary rounded-3 mb-3">

            @if (Permissions.CanEdit)
            {
                <div class="m-2">
                    <a class="text-muted btn btn-outline-dark btn-sm bg-gradient"
                       asp-controller="Topics"
                       asp-action="TopicEdit"
                       asp-route-TopicId="@Topic.TopicId"
                       asp-route-Title="@Topic.Title"
                       asp-route-Text="@Topic.Text">
                        <i class="bi bi-file-plus-fill  text-primary"></i>
                        Edit
                    </a>
                </div>
            }

            @if (Permissions.CanClose)
            {
                @if (@Topic.Closed)
                {
                    <div class="m-2">
                        <a class="text-muted btn btn-outline-dark btn-sm bg-gradient"
                           asp-controller="Topics"
                           asp-action="TopicOpen"
                           asp-route-TopicId="@Topic.TopicId"
                           asp-route-comment="Opened">
                            <i class="bi bi-door-closed-fill  text-succes"></i>
                            Открыть
                        </a>
                    </div>
                }
                else
                {
                    <div class="m-2">
                        <a class="text-muted btn btn-outline-dark btn-sm bg-gradient"
                           asp-controller="Topics"
                           asp-action="TopicClose"
                           asp-route-TopicId="@Topic.TopicId"
                           asp-route-comment="Closed">
                            <i class="bi bi-door-closed-fill  text-warning"></i>
                            Закрыть
                        </a>
                    </div>
                }
            }

            @if (Permissions.CanDelete)
            {
                @if (@Topic.Deleted)
                {
                    <div class="m-2">
                        <a class="text-muted btn btn-outline-dark btn-sm bg-gradient"
                           asp-controller="Topics"
                           asp-action="TopicUnDelete"
                           asp-route-TopicId="@Topic.TopicId"
                           asp-route-comment="Deleted">
                            <i class="bi bi-trash-fill  text-danger"></i>
                            Достать из удаленных
                        </a>
                    </div>
                }
                else
                {
                    <div class="m-2">
                        <a class="text-muted btn btn-outline-dark btn-sm bg-gradient"
                           asp-controller="Topics"
                           asp-action="TopicDelete"
                           asp-route-TopicId="@Topic.TopicId"
                           asp-route-comment="UnDeleted">
                            <i class="bi bi-trash-fill  text-danger"></i>
                            Удалить
                        </a>
                    </div>
                }
            }

        </div>

    }
}
